<div class="container">
  <div class="login-box">
    <div class="form">
      <div class="header">
        <h1 class="title">Fast Austral</h1>
        <p class="subtitle">Convierte divisas a velocidad supersónica</p>
      </div>
      <div class="input-grp">
        <label for="username" class="label">Piloto</label>
        <div class="input-wrap">
          <span class="icon user-icon"></span>
          <input id="username" placeholder="Ingresa tu nombre clave" class="input" />
        </div>
      </div>
      <div class="input-grp">
        <label for="password" class="label">Código NOS</label>
        <div class="input-wrap">
          <span class="icon lock-icon"></span>
          <input id="password" type="password" placeholder="Ingresa tu código secreto" class="input" />
          <button type="button" class="btn-eye">
            <span class="icon eye-icon"></span>
          </button>
        </div>
      </div>
      <div class="options">
        <div class="remember">
          <input type="checkbox" id="remember" class="switch" />
          <label for="remember" class="label-sm">Mantener en carrera</label>
        </div>
        <a href="#" class="forgot">¿Olvidaste tu código?</a>
      </div>
      <button class="btn-login">
        <span class="icon dollar-icon"></span>
        <span class="btn-text">Iniciar Conversión</span>
      </button>
      <div class="signup">
        ¿Nuevo en la pista? <a [routerLink]="['/register']" class="link">Únete al equipo</a>
      </div>
    </div>
  </div>
  <div class="rotate-icon"></div>
  <div class="footer">
    © 2024 Fast Austral. Todos los derechos reservados. Maneja con precaución.
  </div>
</div>